
.welcome-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 40px;
  }
  
  .text-content {
    max-width: 100%;
    color: #05386b;
    font-size: 20px;
  }
  body {
    color: #edf5e1;
  }
  
  div {
    color: #edf5e1;
    background-color: #5cdb95;
    font-stretch: expanded;

  }
  
  h1, h2, h3 {
    color: #edf5e1;
    margin: 30px;
  }
  h2{
    font-size: large;
    color: #05386b;
  }
  .welcome{
    color: #05386b;
    font-size: 25px;
    margin: 20px;
    text-align: center;
  }
ul{
    font-size: 20px;
    margin: 20px;
    color: #edf5e1;
    margin-left: 60px;
}
.bouncing-text {
    font-size: 24px;
    animation: bounce 1s infinite alternate;
    margin: 80px;
    margin-top: 50px;
    text-align: center;
  }
  .features-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 10px;
    

  }
  
  @keyframes bounce {
    to {
      transform: translateY(-10px);
    }
  }
p{
    margin:10px;
}
.login_button{
    margin-top: 45px;
    padding: 10px 20px;
    background-color: #05386b;
    color: #edf5e1;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    }
    
    .login-button:hover {
      background-color: #379683;
    }

section{
    margin: 20px;
}