html, body {width: 100vw; height: 100vh;}
.main-container{
  width: 100vw; height: 100vh;
}

.heading-body-container{
  text-align: center;
  color: #05386b;
  font-size: larger;
  font-weight: 600;
}
.welcome-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 40px;
    color: #05386b;

  }

  .text-content {
    max-width: 100%;
    color: #05386b;
    font-size: 20px;
  }
  ul.featlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  .feat-list{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    font-variant-ligatures: none;
  }
  
  div {
   
    background-color: rgb(229, 231, 235);
    font-stretch: expanded;

  }
  
  h1, h2, h3 {
    
    margin: 30px;
  }
  h2{
    font-size: large;
    color: #05386b;
  }
  .welcome{
    color: #05386b;
    font-size: 25px;
    margin: 20px;
    text-align: center;
  }
ul{
    font-size: 20px;
    margin: 20px;
    color: #05386b ;
    margin-left: 60px;
}
.bouncing-text {
    font-size: 24px;
    animation: bounce 1s infinite alternate;
    margin: 80px;
    margin-top: 50px;
    text-align: center;
  }
  .features-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 10px;
   
  }

  
  @keyframes bounce {
    to {
      transform: translateY(-10px);
    }
  }
p{
    margin:10px;
    color:#05386b; 
}
.login{
  margin-top: 20px;
  margin-left: 20px;
}
.login_button {
 
  padding: 10px 20px;
  background-color: #05386b;
  color: #edf5e1;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
  
.login_button:hover {
  background-color: black; /* Adjust the hover color as needed */
}

section{
    margin: 20px;
    flex: 1;
}
footer {
  flex-shrink: 0;
}

/* Optionally, you can style the footer with a background color */
footer {
  background-color: #f0f0f0; /* Example color */
  padding: 20px;
  text-align: center;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
}
